body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  color: #111;
}

.container {
  max-width: 1100px;
  margin: auto;
  background: white;
  overflow: hidden;
}

header {
    max-width: 1100px;
    margin: auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.week {
  font-size: 0.9rem;
  opacity: 0.9;
}

.chart-table {
  width: 100%;
  border-collapse: collapse;
}

.chart-table th {
  background-color: #1e40af;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 0.9rem;
}

.chart-table td {

  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
  text-align: center;
}

.rank {
    width: 65px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #111827;
  color: white;

}

.song-info {
    width: 600px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
}

.song-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.song-info h3 {
    margin: 0;
    padding-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.song-info p {
    padding-left: 10px;
    margin: 0;
  color: #6b7280;
  font-size: 0.9rem;
  text-align: left;
}


.chart-table thead th {
  background-color: #1e3a8a;
  color: white;
  padding: 10px;
  text-align: center;
}


.chart-table td:nth-child(3),
.chart-table td:nth-child(5) {
  background-color: #f5f5f5; 
}